* { margin: 0; padding: 0 }

body { font-family: Tahoma, sans-serif; font-size: 12px; font-style: normal; font-weight: normal }
.big_word { font-size: 1.5rem; border: 1px solid lightgray }

nav { display: block; background-color: #1d3644; min-height: 39px }

nav ul { list-style: none }
nav::after { content: ''; display: block; clear: both }

nav ul li { display: block; float: left }
nav ul li::after {content: ' '; height: 25px; display: block; float: left; width: 1px; border-right: 1px solid gray; margin-top: -30px }

nav ul li div.menu_item {
  color: #b6d9ec; font-size: 17px;
  text-align: center; line-height: 1.7rem;
  height: 33px;
  padding: 0 10px;
  margin: 3px 2px 0 5px;
  /*border: 1px solid #587e93;*/
}

nav ul li div.menu_item:hover { background-color: #09bddc; border-bottom-left-radius: 3px; border-top-right-radius: 3px }

section { height: 400px; background-color: #587e93 }