/*noinspection CssUnknownTarget*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic&subset=latin,latin-ext);

* {margin: 0; padding: 0}

body { font-family: 'Open Sans', sans-serif; font-size: 12pt; font-weight: 100; line-height: 1rem }

nav { background-color: #1d3644; color: #b6d9ec; position: relative; }

nav ul { height: 39px }

nav::after { content: ''; display: block; clear: both }

nav ul li {
  display: block; float: left;
  margin: 5px 5px 0 10px ;
  padding: 2px 0 5px 0;
  position: relative
}

nav ul li:hover {
  background-color: #59a8d0;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #000;
  cursor: cell;
}

nav ul li div.menu_item {
  margin: 0 5px;
  padding: 2px 0;
  position: relative;
}

nav ul li div.menu_item::after {
  content: ''; display: block; float: left; height: 20px; width: 0;
  border-right: 1px solid #587e93;
  position: absolute;
  top:1px; right: -14px
}
